.DS_Store
**/.DS_Store
dist/*
target/
lib_managed/
src_managed/
project/project/
project/target
project/boot/
project/plugins/project/
.history
.cache
.lib/
logs
.metals/*
.bsp
.bloop
.metals
.ammonite/
metals.sbt
metals/project/
.metals/metals.log
.bloop/root/bloop-bsp-clients-classes/classes-Metals-IH3DRFkYTWK8wfMqkpQGyQ==/domain/workspace/Workspace$.class
/.metals
.metals/metals.log
.vscode

